* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
html {
    scroll-behavior: smooth;
  }

main {
    padding: 0 100px;
    /* background: rgb(7, 121, 113, .2); */
    height:3000px;
    
   
    
}


h1{
    text-transform:uppercase;
}

h1, p{
    font-family: 'Nunito sans', 'Oswald', sans-serif;
    text-align: center;
    font-size: 30px;
    
    

   
}




header {
    width: 100%;
    background-color: rgb(7, 121, 113);
    position: fixed;
    
    display: flex;
    align-items: center;
    box-sizing: border-box;
   
    /* border-bottom: 1px rgba(23, 23, 23, .3) solid; */
}

.header-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    text-align: right;
   padding-right:90px;
}



.menu > li {
    float: left;
    margin-left: 40px;
    margin-bottom: 0px;
    
    font-family: 'Oswald', sans-serif;
    list-style: none;
}

.menu li:last-child {
    margin-left:200px;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

a:hover {
    color: rgba(0, 0, 0);
    /* border-bottom: rgba(0,0,0) 1px solid; */
}

.marque {
padding-top: 150px;
padding-bottom: 50px;  
font-family: 'Nunito sans', 'Century gothic';
/* background: url(/images/general.jpeg) 0 0 no-repeat;

     */
    
};

*/



img{
    width:1150px;


}

.pricing {
    padding: 50px;
    margin-left: 55px;
  
}

#productos {
    display: flex;
    flex-flow: wrap;

   
}

.products {
    box-sizing: border-box;
    list-style: none;
   
   
    text-align: center;
    margin: 15px;
    /*entre las cajas*/
  
    padding-bottom:40px;
    padding-top: 40px;
    
    width: 30%;
}


h2,
h3 {
    margin: 10px;
    font-family: 'Nunito sans';
    text-transform: uppercase;
    font-size: 0.8em;
    color:rgb(70, 69, 69);
    font-weight: 600px;
    letter-spacing: 3px;
    
  
}

.photoexemples {
    box-sizing: border-box;
    max-width: 400px;
    height: 150px;
}

.btn {
    padding: 0 20px;
    height: 40px;
    /* text-transform: uppercase; */
    cursor: pointer;
    /* color: rgb(7, 121, 113); */
    border: 1px solid rgb(7, 121, 113);
    border-radius: 20px;
    transition: .5s;
    
}


.btn:focus {outline:0 !important;}

.btn:hover {
    background: rgb(7, 121, 113);
    border: none;
    color: white;
}
/* #commander{
    margin-bottom: 200px;
} */
.section-form {
    text-align: center;
    /* margin-bottom: 80px; */
   
}



.form div{
    margin-bottom: 10px;  
    margin-top: 20px;
}

.input-textarea {
    min-height: 120px;
    width: 33%;
}

#email {
    height: 30px;
    width: 20%;
}

.submit {
    height: 25px;
    width: 20%;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px black solid;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    
}
.submit:focus {outline:0 !important;}

#email, #comments {
    padding-left: 10px;
    padding-top:5px;
}


@media (max-width: 650px) {
   header {
        flex-direction: column;
    }
   
}